<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group mb-3">
      <%= form.label :name, "Nome", style: "display: block" %>
      <%= form.text_field :name, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :code, "Código", style: "display: block" %>
      <%= form.number_field :code, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :quantity, "Quantidade", style: "display: block" %>
      <%= form.number_field :quantity, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :brand, "Marca", style: "display: block" %>
      <%= form.text_field :brand, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :manufactured_at, "Data de Fabricação", style: "display: block" %>
      <%= form.date_field :manufactured_at, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :due_date, "Vencimento", style: "display: block" %>
      <%= form.date_field :due_date, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :price, "Preço", style: "display: block" %>
      <%= form.text_field :price, class: "form-control form-control-lg" %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :cost_price, "Preço de custo", style: "display: block" %>
      <%= form.text_field :cost_price, class: "form-control form-control-lg"  %>
    </div>

    <div class="form-group mb-3">
      <%= form.label :image, "Imagem", style: "display: block" %>
      <%= form.file_field :image, class: "form-control form-control-lg"  %>
    </div>

    <div class="form-group mt-3">

      <% if params["action"] == "edit"%> 
      <%=form.submit "Alterar", class: "btn btn-success btn-lg" %>
      <% else %>
      <%=form.submit "Cadastrar", class: "btn btn-success btn-lg" %>
      <% end %>
      <%= link_to "Voltar", products_path, class: "btn btn-outline-primary btn-lg" %>
    </div>
<% end %>
